//$main-color: #2840a8;
$main-color: #00337c;
// $secondary-color: #1a73e8;#4961ff
$secondary-color: #4961ff;
$third-color: #287bff;
$green-color: #00a000;
$white-color: #ffffff;
$black-color: #000;
$red-color: #ff0000;
$grey-color-1: #80868b;
$grey-color-2: #dadce0;
$grey-color-3: #f3f5f7;
$gold-color: #d4af37;

// reserve color
// #6dcdb1
// #009578
